<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>

                <div class="panel-body">
                    <form class="form-horizontal"  [formGroup]="formLogin" novalidate>
                        <!-- {{ csrf_field() }} -->

                        <div class="form-group">
                            <span class="help-block col-md-12 text-center" id="msgerror" style="color: red;">
                            </span>
                        </div>
                        <div class="form-group">
        
                            <label for="email" class="col-md-4 control-label">Login</label>

                            <div class="col-md-6">
                                <input id="email" type="text" class="form-control" name="email" value="" required (focus)="true" formControlName="email">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Senha</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required formControlName="password">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Lembrar-me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-success" (click)="logar()">
                                    Entrar
                                </button>

                                <a class="btn btn-link" href="">
                                    Problemas de Acesso?
                                </a>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

