<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <!-- Collapsed Hamburger -->
      <div class="nav-toogle">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#app-navbar-collapse"
          aria-expanded="false"
          (click)="clickToogleNav()"
        >
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Branding Image -->
      <div class="container-flex logo-name">
        <div class="nav-logo">
          <a class="nav" href="/">
            <img src="assets/img/EAD-logo-Branco.png" alt="Suporte UFGD Ead" />
          </a>
        </div>
        <div class="nav-app-name">
          <a class="nav" href="/">Suporte</a>
        </div>
      </div>
    </div>
    <ng-container *ngIf="mostrarNavbar">
      <div class="collapse navbar-collapse" id="app-navbar-collapse">
        <!-- Left Side Of Navbar -->
        <ul class="nav navbar-nav">
          <li class="dropdown" *ngIf="permissao && permissao !== 'INATIVO'">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              aria-haspopup="true"
              v-pre
            >
              Solicitações <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li
                *ngIf="permissao === 'USUARIO' || permissao === 'ADMINISTRADOR'"
              >
                <a href="/salas/create/"> Nova Solicitação de Sala </a>
              </li>
              <li *ngIf="permissao === 'ADMINISTRADOR'">
                <a href="/lote-salas"> Lote de Solicitações de Sala </a>
              </li>
              <li *ngIf="permissao === 'ADMINISTRADOR'">
                <a href="/lote-salas-simplificados">
                  Lote de Solicitações de Salas Simplificadas
                </a>
              </li>
              <li
                *ngIf="permissao === 'USUARIO' || permissao === 'ADMINISTRADOR'"
              >
                <a href="/salas/"> Lista de Solicitações </a>
              </li>
              <li *ngIf="permissao === 'ADMINISTRADOR'">
                <a href="/salas-old/"> Lista de Solicitações (Antiga) </a>
              </li>
            </ul>
          </li>
          <li
            class="dropdown"
            *ngIf="permissao && permissao === 'ADMINISTRADOR'"
          >
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              aria-haspopup="true"
              v-pre
            >
              Universidade <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/faculdades"> Faculdades e Cursos </a>
              </li>
              <li>
                <a href="/periodo-letivos"> Período Letivos </a>
              </li>
              <li>
                <a href="/periodo-letivos-categorias">
                  Período Letivos - Categorias
                </a>
              </li>
              <li>
                <a href="/pl-disciplinas-academicos">
                  Diciplinas e Estudantes
                </a>
              </li>
              <li>
                <a href="/unidade-organizacional"> Unidades Organizacionais </a>
              </li>
            </ul>
          </li>
          <li
            class="dropdown"
            *ngIf="permissao && permissao === 'ADMINISTRADOR'"
          >
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              aria-haspopup="true"
              v-pre
            >
              Administração <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/macro"> Macros </a>
              </li>
              <li>
                <a href="/super-macro"> Super Macros </a>
              </li>
              <li>
                <a href="/servidores-moodle"> Servidores Moodle </a>
              </li>
              <li>
                <a href="/config"> Configurações </a>
              </li>
              <li>
                <a href="/server"> PHP info </a>
              </li>
              <li>
                <a href="/logs"> Logs </a>
              </li>
            </ul>
          </li>
          <li
            class="dropdown"
            *ngIf="permissao && permissao === 'ADMINISTRADOR'"
          >
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              aria-haspopup="true"
              v-pre
            >
              Gestão Usuários <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/formulario-insere-usuarios">
                  Inserir Usuários Moodle
                </a>
              </li>
              <li>
                <a href="/formulario-insere-ad"> Inserir Usuários AD </a>
              </li>
              <li>
                <a href="/formulario-altera-usuario">
                  Alterar Senha Usuários AD
                </a>
              </li>
              <li>
                <a href="/usuarios"> Lista de Usuários </a>
              </li>
              <li>
                <a href="/roles"> Perfis - Acessos </a>
              </li>
              <li>
                <a href="/formulario-pessoas-estatus-lotacao">
                  Lista de Pessoas Por Lotação
                </a>
              </li>
            </ul>
          </li>
          &nbsp;
        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="nav navbar-nav navbar-right">
          <!-- Authentication Links -->
          <li *ngIf="!permissao"><a href="/login">Login</a></li>
          <!--li><a href="{{ route('register') }}">Cadastrar</a></li-->
          <li class="dropdown drop-user" *ngIf="permissao">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              aria-haspopup="true"
              v-pre
            >
              <i class="bi bi-person-circle"></i>
              <span class="name-person">{{ nomeSobrenome }}</span>
            </a>

            <ul class="dropdown-menu">
              <li>
                <a (click)="deslogar()"> Logout </a>

                <form
                  id="logout-form"
                  action="/logout"
                  method="POST"
                  style="display: none"
                ></form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</nav>
