    <div class="table-row">
        <ng-container *ngIf="permissao && permissao != 'USUARIO'">
            <button class="btn btn-secondary btn-dropmain" type="button" data-toggle="collapse" data-target="#solicitacoes"
             aria-expanded="true" aria-controls="multiCollapseExample2"  (click)="clickToogle()">
                Solicitações
                <i class="bi bi-caret-up-fill" id="imgsolicitacoes"></i>
            </button>
            <div class="collapse in multi-collapse delay-1" id="solicitacoes">
                <div class="card card-body delay-2">
                    <app-card *ngIf="permissao && permissao == 'SERVIDOR' || permissao == 'ADMINISTRADOR'" link='/salas/create/' title='Nova Solicitação de Sala' classIcon='bi bi-file-earmark-plus'></app-card>
                    <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/lote-salas' title='Lote de Solicitações de Sala' classIcon='bi bi-database-add'></app-card>
                    <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/lote-salas-simplificados' title='Lotes Simplificados' classIcon='bi bi-database-add'></app-card>
                    <app-card *ngIf="permissao && permissao == 'SERVIDOR' || permissao == 'ADMINISTRADOR'" link='/salas/' title='Lista de Solicitações' classIcon='bi bi-list-check'></app-card>
                    <!-- <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/salas/' title='Lista de Solicitações (Antiga)' classIcon='bi bi-list-check'></app-card> -->
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="permissao && permissao == 'ADMINISTRADOR'">
           <button class="btn btn-secondary btn-dropmain" type="button" data-toggle="collapse" data-target="#universidade"
            aria-expanded="false" aria-controls="multiCollapseExample2" (click)="clickToogle()">
               Universidade
               <i class="bi bi-caret-down-fill" id="imguniversidade"></i>
           </button>
           <div class="collapse multi-collapse delay-1" id="universidade">
               <div class="card card-body delay-2">
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/faculdades/' title='Faculdades e Cursos' classIcon='bi bi bi-mortarboard'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/periodo-letivos/' title='Período Letivos' classIcon='bi bi-calendar-event'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/periodo-letivos-categorias/' title='Período Letivos - Categorias' classIcon='bi bi-calendar-week'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/pl-disciplinas-academicos/' title='Diciplinas e Estudantes' classIcon='bi bi-book-half'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/unidade-organizacional/' title='Unidades Organizacionais' classIcon='bi bi-node-plus'></app-card>
               </div>
           </div>
       </ng-container>
       <ng-container *ngIf="permissao && permissao == 'ADMINISTRADOR'">
           <button class="btn btn-secondary btn-dropmain" type="button" data-toggle="collapse" data-target="#administracao"
            aria-expanded="false" aria-controls="multiCollapseExample2" (click)="clickToogle()" >
               Administração
               <i class="bi bi-caret-down-fill" id="imgadministracao"></i>
           </button>
           <div class="collapse multi-collapse delay-1" id="administracao">
               <div class="card card-body delay-2">
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/macro/' title='Macros' classIcon='bi bi-diagram-2'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/super-macro/' title='Super Macros' classIcon='bi bi-diagram-3'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/servidores-moodle/' title='Servidores Moodle' classIcon='bi bi-hdd-network'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/config/' title='Configurações' classIcon='bi bi-gear'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/server/' title='PHP info' classIcon='bi bi-filetype-php'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/logs/' title='Logs' classIcon='bi bi-list-check'></app-card>
               </div>
           </div>
       </ng-container>
       <ng-container *ngIf="permissao && permissao == 'ADMINISTRADOR'">
           <button class="btn btn-secondary btn-dropmain" type="button" data-toggle="collapse" data-target="#gestaoUsuarios"
            aria-expanded="false" aria-controls="multiCollapseExample2" (click)="clickToogle()">
               Gestão Usuários
               <i class="bi bi-caret-down-fill" id="imggestaoUsuarios"></i>
           </button>
           <div class="collapse multi-collapse delay-1" id="gestaoUsuarios">
               <div class="card card-body delay-2">
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/formulario-insere-usuarios/' title='Inserir Usuários Moodle' classIcon='bi bi-person-add'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/formulario-insere-ad/' title='Inserir Usuários AD' classIcon='bi bi-person-add'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/formulario-altera-usuario/' title='Alterar Senha Usuários AD' classIcon='bi bi-person-lock'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/usuarios/' title='Lista de Usuários' classIcon='bi bi-person-lines-fill'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/roles/' title='Perfis - Acessos' classIcon='bi bi-shield-lock'></app-card>
                <app-card *ngIf="permissao && permissao == 'ADMINISTRADOR'" link='/formulario-pessoas-estatus-lotacao/' title='Lista de Pessoas Por Lotação' classIcon='bi bi-person-down'></app-card>
               </div>
           </div>
       </ng-container>
       <ng-container *ngIf="permissao && permissao != 'INATIVO'">
           <button class="btn btn-secondary btn-dropmain" type="button" data-toggle="collapse" data-target="#cursos"
            aria-expanded="false" aria-controls="multiCollapseExample2" (click)="clickToogle()">
                Cursos
               <i class="bi bi-caret-down-fill" id="imgcursos"></i>
           </button>
           <div class="collapse {{permissao && permissao == 'USUARIO' ? 'in' : ''}} multi-collapse delay-1" id="cursos" >
            <div class="card card-body delay-2">
                <app-card link='#' title='Meus Cursos' titleOver='Acesse aqui os cursos que você está matriculado!!' classIcon='bi bi-journal'></app-card>
                <app-card link='#' title='Todos os Cursos' titleOver='Lista todos os cursos da UFGD.' classIcon='bi bi-journals'></app-card>
                <app-card link='http://webmail.academico.ufgd.edu.br/' title='Webmail UFGD Acadêmico' titleOver='Acesse seu e-mail acadêmico.' classIcon='bi bi-envelope-at'></app-card>
                <app-card link='https://portal.ead.ufgd.edu.br/tutoriais' title='Orientações e Tutoriais' titleOver='Dicas, orientações e tutoriais!' classIcon='bi bi-question-lg'></app-card>
            </div>
          </div>
       </ng-container>
    </div>
<!-- @endsection -->
